<!DOCTYPE html>
<html>
<head> 
	<title>Chơi Ca Rô</title> 
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="app-url" content="<%= process.env.APP_URL %>" />
	<meta name="app-port" content="<%= process.env.PORT %>">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="jquery.js"></script> 
	<script src="socket.io/socket.io.js"></script>
</head>
<body>
	<div class="header">
		<div class="box-title">
			<h1>Caro <img src='19.gif'> <img src='31.gif'></h1>
		</div>
	</div>
	<div class="container">
		<div class="create-join-room">
			<div class="create-room">
				<form action="/create-room" method="post">
					<input type="text" name="room_id_create" placeholder="Id phòng" autocomplete="off">
					<input type="number" name="bet_point" placeholder="Cược" autocomplete="off" min="0" max="100">
					<button type="button">Tạo phòng</button>
				</form>
			</div>
			<div class="join-room">
				<form action="/join-room" method="post">
					<input type="text" name="room_id_join" placeholder="Id phòng" autocomplete="off">
					<button type="button">Vào phòng</button>
				</form>
			</div>
		</div>
		<div class="users-rank">
			<div class="rank-item auth-rank">
				<div class="rank-avatar"><img src="<%= user.avatar %>"></div>
				<div class="rank-name"><p><%= user.name %></p></div>
				<div class="rank-point"><p><%= user.point %></p></div>
			</div>
			<div>
				<h1>Xếp hạng</h1>
			</div>
			<div class="list">
				<% rank_list.forEach(function(user,i){
					%>
					<div class="rank-item" id="<%= user.id %>" style="order:<%= i %>">
						<div class="rank-avatar"><img src="<%= user.avatar %>"></div>
						<div class="rank-name" title="Ahiii"><p><%= user.name %></p></div>
						<div class="rank-point"><p><%= user.point %></p></div>
					</div>
					<%
				})%>
			</div>
		</div>
	</div>
	<script src="home.js"></script> 
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>